body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  height: 35em;
  
  font-family: "HelveticaNeue-Thin", Arial;
  letter-spacing: 0.1em;
}

h1 {
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.15em;
}

a {
  text-decoration: none;
  text-align: center;
  color: #FFF;
}

.stage {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.left {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20em;
}

.story {
  display: inline-block;
  height: 100%;
  margin-bottom: 2em;
  background-color: rgba(100, 100, 100, 0.8);
  color: #FFF;
  vertical-align: top;
  overflow: scroll;
}

.story p {
  padding: 1em;
  margin-top: 0.5em;
  line-height: 1.2em;
}

.nav {
  position: absolute;
  background-color: #444;
  height: 2em;
  width: 100%;
  bottom: 0;
  margin-top: -0.5em;
}

.nav a {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  z-index: 2;
  width: 100%;
}

.nav .nav-inner {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 20em;
  background-color: #777;
}


.nav:hover .nav-inner {
  height: 100%;
  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
